.outer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#draw-area{
    margin: auto;
    width: 700px;
    height: 700px;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(16,auto);
    border: 2px solid black;
}

.grid{
    border: 1px solid black;
    padding: 0;
    margin: -1px;
}

.sketched{
    background-color: black;
}

h1{
    text-align: center;
}
button{
    width: 150px;
    align-self: center;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
}