.outer{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#draw-area{
    margin: auto;
    width: auto;
    height: auto;
    background-color:white;
    display: grid;
    grid-template-columns: repeat(16,auto);
    border: 2px solid black;
}

.grid{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    margin: -1px;
}

.sketched{
    background-color: black;
}

h1{
    text-align: center;
}
button{

    width: 200px;
    align-self: center;
}